// query sass var

$breakpoint-xl:1400px;
$breakpoint-l: 1024px;
$breakpoint-m : 900px;
$breakpoint-s: 600px;

@import "~normalize.css/normalize.css";
@import 'typo';



// CSS VAR
html{
    --gradientColor : #74ebd5;
    --gradientColor2 : #9face6;
    --gradient : linear-gradient(to left, var(--gradientColor) 0%, var(--gradientColor2) 100%);
    --doubleGradient : linear-gradient(to right, var(--gradientColor) 0%, var(--gradientColor2) 50%, var(--gradientColor) 100%);
    --smallBreakpoint : 500px;
    --x : 0;
    --y : 0;
    --size: 0;
    --breakpoint-xl:1400px;
    --breakpoint-l: 1024px;
    --breakpoint-m : 900px;
    --breakpoint-s: 600px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#root,
.wrapper {
    display: flex;
    min-height: 100%;
    width: 100%;
    //max-height: 100vh;
    //overflow: hidden;
    flex:1;
    color: black;
    font-family: "Cerebri Sans", Avenir, Helvetica, Segoe UI, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: ghostwhite;
}

.wrapper {
    display: flex;
    flex-flow: column;
    flex: 1;
    height: 100%;
    background: white;
}

main {
    position: relative;
    display: flex;
    flex: 1;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
.animated-page-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    flex: 1;
    width: 100%;
    height: 100vh;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 62px;
    width: 100%;
    padding: 0 3rem;
    z-index: 999;
    a {
        margin-right: 1.5rem;
        color: black;
        text-decoration: none;
        font-weight: 500;
        &.active {
            text-decoration: line-through;
        }
    }
}


.page::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}
.page {
    scrollbar-width: none;
    display: flex;
    flex: 1;
    flex-flow: column;
    padding: calc(62px + 3rem) 3rem 3rem 3rem;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-width: 1400px;
    margin: auto;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
    ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        padding: 0 0 6rem 0;
        margin: 0;
        li {
            display: flex;
            width: calc(100% / 4 - 2rem);
            min-height: 200px;
            margin-bottom: 2rem;
            margin-right: 2rem;
            div {
                display: flex;
                flex: 1;
                box-shadow:  15px 15px 30px #cfd9d6,
                -15px -15px 30px #ffffff;
            }
        }
    }
    &.home {
    	h1 {
    		max-width: 30ch;
            margin-top: 0;
    	}
        a {
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: line-through;
            }
        }
    }
    &.projects {
        flex-flow: column nowrap;
        h1 {
            margin: 0 0 62px 0;
        }
        ul {
            flex-flow: row wrap;
        }
    }
    &.project-item {
        background: white;
        h1 {
            max-width: 35ch;
        }
        p {
            max-width: 75ch;
        }
        .goBack {
            font-size: 2rem;
            cursor: pointer;
        }
        div{
            max-width: 100%;
        }
    }
    &.missed {
    	align-items: center;
    	align-content: center;
    	justify-content: center;
    	background: url("../images/404.gif") no-repeat;
    	background-size: cover;
    	background-position: center center;

    	h1 {
    		font-size: 20vw;
    	}
    }
}



.project {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr;
    grid-gap: 10px;
    img {
        max-width: 100vw;
        width: 100%;
    }
    .projectList{
        flex-direction: column;
        li {
            height: 20px;
            width: 100%;
            min-height: 0;
            p{
                font-size: 1.5rem;
            }
            .listTitle {
                font-weight: bold;
                font-size: 1rem;
                display: block;
            }
        }
    }

    .gif {
        max-height: 400px;
        margin: auto;
        img{
            max-height: 400px;
        }
    }
}


.section {
    flex: 1;
}

hr {
    border-bottom: var(--gradientColor) solid 1px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}






///////
// MEDIA QUERY
//////


@media screen and (max-width: $breakpoint-l) {
    * h1 {
        max-width: 100% !important;
    }
    .top-bar {
        padding: 0 1rem;
    }
    .page {
        padding: calc(62px + 3rem) 1rem 1rem 1rem;
        max-width: 980px;
        ul {
            li {
                width: 50%;
                margin-right: 0;
            }
        }
        ul.unstyled {
            li {
                margin-right: 1em;
                width: 47%;
            }
        }
    }

}

@media screen and (max-width: $breakpoint-m)  {
    .project {
        grid-template-columns: 1fr 1fr;

        img{
            object-fit: cover;
        }
        iframe{
            max-width: 100vw;
        }
    }
}

@media screen and (max-width: $breakpoint-s) {
  .project {
    grid-template-columns: calc(100vw);
  }
    .page {
        padding: calc(62px + 3rem) 1rem 1rem 1rem;
        max-width: 980px;
        ul {
            li {
                width: 100%;
                margin-right: 0;
            }
        }
        ul.unstyled {
            li {
                margin-right: 1em;
                width: 47%;
            }
        }
    }

}




//////////////////////////////////////////
// Layout
//////////////////////////////////////////


.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex : 1;

    .left {
        flex : 2;
        overflow-y: scroll;
    }

    .right {
        flex: 1;
        display: flex;
        background-image: var(--doubleGradient);
        padding: 20px;
        background-size: 200%;
        background-position: calc(var(--x)*-1) 0;

    }
    .centerFlex {
        flex: 1;
        align-self: center;
    }

}

.about {
    flex-direction: row;
}

.content {
    max-width: 1400px;
}

@media screen and (max-width: $breakpoint-s) {
    .hidden-xs {
        display: none;
    }

    .home {
        flex-direction: column;

        .left {
            flex : 2;
            overflow-y: hidden;
        }

        .right {
            flex: 1;
            display: flex;
            background-image: var(--gradient);
            padding: 20px;
            background-size: 400%;
            background-position: var(--x) var(--y);

        }
        .right:before {
            --size: 0;
            content: '&';
            position: absolute;
            left: var(--x);
            top: var(--y);
            width: var(--size);
            height: var(--size);
            background: radial-gradient(circle closest-side, #4405f7, transparent);
            transform: translate(-50%, -50%);
            transition: width .2s ease, height .2s ease;
        }
        .right:hover::before {
            --size: 400px;
        }
    }

}


/////////////////
// TITLE
////////////////

.menuTitle {
    color : white !important;
    font-family: Poppins;
    font-size: 1.8em;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0em;
}


 .gradientText {
     background-image: var(--gradient);
     -webkit-background-clip: text !important;
     -webkit-text-fill-color: transparent;
     transition: all 1s ease;
 }

.gradientText:hover,
.gradientText:focus {
    text-shadow: 10px 10px 0px white,
    20px 20px 0px #01cccc,
    30px 30px 0px #00bdbd;
    cursor: pointer;
}

@keyframes pulse {
    0% { text-shadow: 0 0 0 0 red; }
}



 //////////////
// DESIGN
//////////////

.square {
    position: absolute;
    height: 200px;
    width:200px;
    background: var(--gradient);
    z-index: -10;

    &.lab{
        position: absolute;
        height: 100px;
        width:100px;
        top: -20px;
        background-size: cover;
        background-position: center center;
    }
}




#svg1 {
    animation:spin 90s linear infinite;
    transform-origin: 50% 60%;
}
#svg2 {
    animation:backspin 75s linear infinite;
    transform-origin: 42% 50%;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes backspin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes backspin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes backspin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }




ul.unstyled {
    //display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;


    h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        line-height: 1.6rem;
    }
    li {
        display: flex;
        text-align: center;
        min-height: 100px;
        align-items: center;
        justify-content: center;
        border : solid 4px transparent;
        border-image: linear-gradient(45deg, var(--gradientColor), white,var(--gradientColor2));
        border-image-slice: 1;
        transition: all 0.4s ease;

        div {
            border: none;
            flex: 1
        }
    }
}

.svg {
    height: 20px;
}

.formation {
    max-width: 30vw;
    margin-top: 70px;
    h6 {
        margin-top: 20px;
    }
}

.coverImg {
    height: 200px;
    background: linear-gradient(0deg, var(--gradientColor), var(--gradientColor2), white 70% );
    background-size: 100% 200%;
    background-position: 0% 200%;
    transition: all 0.4s ease;
    &:hover {
        //background: linear-gradient(45deg, var(--gradientColor), white);
        background-position: 0% 293%;
    }
}

// GRID FLEX


.gridLinks{
    display: flex;
    flex-wrap: wrap;

}

.gridItem{
    width: 100%;
    margin-top: 2%;
    display: flex;
    align-content: center;
    justify-content: center;

    a {
        max-width: 50%;
        align-self: center;
        opacity: 0;
        color : white;
        font-weight: bold;
        font-size: 1.2rem;
        transition: opacity 0.3s ease;
    }
    &:hover a {
        opacity: 1;
    }

    @media (min-width: 48rem) {
        width: 49%;
        &:nth-child(odd) {
            margin-right: 2%;
        }
    }

    @media (min-width: 62rem) {
        width: 12%;
        &:not(:nth-child(4n)) {
            margin-right: 2%;
        }
    }

    &:before {
        content: "";
        float: left;
        padding-top: 100%;
    }

}

.van {
    background-image: url('https://78.media.tumblr.com/d3bce3d309962df4a533636fe2c99811/tumblr_osnrsaBLcO1wtrvayo1_1280.jpg');
    background-size: cover;
}
.lampe {
    background-image: url('../images/lampe/IMG_3422.jpg');
    background-size: cover;
}



// to sort

.skills {
  li {
    background: white;
    box-shadow:  32px 32px 65px #d4d4d4,
    -32px -32px 65px #ffffff;
  }
}
.skill-list{
    padding-top: 17px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    margin-bottom: 50px;
    box-shadow:  10px 10px 65px #d4d4d4, 20px 0px 65px #fff;
    background-blend-mode: color;
    background-position: center;
    background-size: cover;

    &:nth-child(even){
        align-items: end;
    }

    h3 {
        margin: 0;
        font-size: 2.2rem;
        line-height: 2.2rem;
        margin-top: -35px;
        mix-blend-mode: darken;
        margin-bottom: 50px;
        opacity: 1;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &:nth-child(1){
        background-image:linear-gradient(var(--gradientColor), var(--gradientColor2)),url("https://source.unsplash.com/900x200/?website");
        background-position: center;
        background-size: cover;
    }
    &:nth-child(2){
        background-image:linear-gradient(var(--gradientColor), var(--gradientColor2)), url("https://source.unsplash.com/900x200/?wireframe");
    }
    &:nth-child(3){
        background-image:linear-gradient(var(--gradientColor), var(--gradientColor2)), url("https://source.unsplash.com/900x200/?design");
    }
    &:nth-child(4){
        background-image:linear-gradient(var(--gradientColor), var(--gradientColor2)), url("https://source.unsplash.com/900x200/?javascript");
    }
    &:nth-child(5){
        background-image:linear-gradient(var(--gradientColor), var(--gradientColor2)), url("https://source.unsplash.com/900x200/?html");
    }
    &:nth-child(6){
        background-image:linear-gradient(var(--gradientColor), var(--gradientColor2)), url("https://source.unsplash.com/900x200/?server");

    }
}





/////////////
// PROJET
/////////////

li.grabamericaPage {
    background-image: url(../images/projets/graba.jpg);
    background-size: 110%;
    transition: all 0.4s ease;
    transform-origin: 50% 50%;
    .projectLink {
        color: black;
        font-weight: bold;
    }

    &:hover {
        opacity: 1;
        background-size: 110%;
        transform: perspective(200px) rotateY(3deg);
    }
}

.flipfinderThumb {
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4a6 6 0 0 1-6-6h2c0 2.21 1.79 4 4 4a6 6 0 0 1 6 6c0 2.21 1.79 4 4 4a6 6 0 0 1 6 6c0 2.21 1.79 4 4 4v2a6 6 0 0 1-6-6c0-2.21-1.79-4-4-4a6 6 0 0 1-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' fill='%2361e294' fill-opacity='.41' fill-rule='evenodd'/%3E%3C/svg%3E");
    overflow: hidden;
    background-size: 10%;
    background-position: 50% 50%;
    background-origin: content-box;
    transition: all 0.3s ease;
    &:hover {
        background-size: 114%;
    }
}

.soundLand {
    background-image: url(../images/projets/soundlandBg1.png), url(../images/projets/soundlandbg2.png);
    background-size: 110%;
    transition: background-size 0.4s ease-in, background-position 0.4s ease-in;
    transform-origin: 50% 50%;
    &:hover {
        background-size: 120%, 130%;
        background-position: 25% 75%, 10% 7%;
    }
}

.dramatic{
    background-image:  url(../images/projets/drama2.png), url(../images/projets/drama0.png);
    background-size: 20%, 100%;
    background-repeat: no-repeat, no-repeat;
    transition: background-size 0.4s ease-in, background-position 0.4s ease-in;
    transform-origin: 50% 50%;
    background-position: 20% 25%, 50% 50%;
    &:hover {
        background-size: 12%, 108%;
        background-position: 20% 25%, 50% 50%;
    }
}

.prints{
    background-image:  url(../images/projets/prints.png), url(../images/projets/prints2.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    transition: background-position 0.3s ease-in;
    transform-origin: 50% 50%;
    background-position: 50% 50%, 50% 800%;
    &:hover {
        background-position: 50% 50%, 50% 50%;
    }
}


///////////
// NOW
//////////


.now {
    font-size: 1.8rem;
    p {
        line-height: 3rem;
    }
}

.oldNow {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    .now {
        color : darkgrey;
        font-size: 1rem;
        flex: 1;

        @media (max-width: 48rem) {
            min-width: 100%;
        }

        @media (min-width: 48rem) {
            min-width: 33%;
        }

        @media (min-width: 62rem) {
            min-width: 25%;
            max-width: 25%;
        }
    }


}


///////////
// GATE
//////////

a.gate{
    //background: black !important;
    color: white;
    a {
        color: white;
    }
}



// CARD

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .projectLink {
        flex: 1;
    }
}





/// Square css-grid
@media screen and (max-width: $breakpoint-s) {
    :root {
        // We just need to know these 3 values up front:
        --wrapperWidth: calc(100vw - 2rem); // e.g. Must be a viewport unit or fixed valueundefined e.g. 100vwundefined or 1200px
        --noOfColumns: 1;
        --gutter: 10px;

        --noOfGutters: calc(var(--noOfColumns) - 1);
        --rowHeight: calc((var(--wrapperWidth) - (var(--noOfGutters) * var(--gutter))) / var(--noOfColumns));
        --noOfColumnsLab : 2;
    }
}

@media screen and (min-width: $breakpoint-s) and (max-width: $breakpoint-l){
    :root {
        // We just need to know these 3 values up front:
        --wrapperWidth: calc(100vw - 2rem); // e.g. Must be a viewport unit or fixed valueundefined e.g. 100vwundefined or 1200px
        --noOfColumns: 3;
        --gutter: 10px;

        --noOfGutters: calc(var(--noOfColumns) - 1);
        --rowHeight: calc((var(--wrapperWidth) - (var(--noOfGutters) * var(--gutter))) / var(--noOfColumns));
        --noOfColumnsLab : 3;
    }
}

@media screen and (min-width: $breakpoint-l) and (max-width: $breakpoint-xl) {
    :root {
        --wrapperWidth: calc(100vw - 6rem);
        --noOfColumns: 4;
        --gutter: 10px;
        --noOfGutters: calc(var(--noOfColumns) - 1);
        --rowHeight: calc((var(--wrapperWidth) - (var(--noOfGutters) * var(--gutter))) / var(--noOfColumns));
        --noOfColumnsLab : 6;
    }
}

@media screen and (min-width: $breakpoint-xl) {
    :root {
        --noOfColumns: 4; // increasing the number of columns after the 42em breakpoint
        --wrapperWidth: 1400px;
        --gutter: 10px;
        --noOfGutters: calc(var(--noOfColumns) - 1);
        --rowHeight: calc((var(--wrapperWidth) - (var(--noOfGutters) * var(--gutter))) / var(--noOfColumns));
        --noOfColumnsLab : 6;
    }
}
:root {
    // And our aspect ratio:
    --ratioA: 1;
    --ratioB: 1;
    --rowLabHeight : calc((var(--wrapperWidth) - (var(--noOfGutters) * var(--gutter))) / var(--noOfColumnsLab));
}

.gridSquare-Lab {

    display: grid;
    grid-template-columns: repeat(var(--noOfColumnsLab), 1fr);
    width: var(--wrapperWidth);
    grid-auto-rows: var(--rowLabHeight);
    grid-gap: var(--gutter);

    a {
        background-size: cover;
        background-position: center center;
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: 100%;


        &:hover {
            //background-blend-mode: color;
            //background : linear-gradient(to right, var(--gradientColor), var(--gradientColor2)) !important;

            h3 {

                opacity: 1;

                transform: translateY(0px);
            }
        }
        h3 {
            z-index: 3;
            opacity: 0;
            color : white;
            transform: translateY(10px);
            transition: all 0.3s ease-in-out;
        }
    }
}

.gridSquare {
    width: var(--wrapperWidth);
    display: grid;
    grid-template-columns: repeat(var(--noOfColumns), 1fr);
    grid-auto-rows: var(--rowHeight);
    grid-gap: var(--gutter);

    a {
        background-size: cover;
        background-position: center center;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: radial-gradient(farthest-corner at 40px 40px,
                    var(--gradientColor) 0%, var(--gradientColor2) 100%) !important;
            h3 {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        h3 {
            z-index: 3;
            opacity: 0;
            color : white;
            transform: translateY(10px);
            transition: all 0.3s ease-in-out;
            text-align: center;
        }
    }
}


.squareGridItem {
    box-shadow:  8px -8px 46px #e8e8e8,
    -8px 8px 46px #ffffff;
}

.labGridItem {
    background-size: cover;
    background-position: center center;
    transition: all 0.3s ease-in-out;
    height: 100%;
    &.bigger {
        width: calc(var(--rowHeight) * 2);
        height: calc(var(--rowHeight) * 2);
    }

}


@media screen and (max-width: $breakpoint-s) {
    .labCollapseItem {
        padding: 1rem;
    }
    .labTitleContainer{
        margin-left: 110px;
    }
}


.labCollapseItem {
    min-height: 100%;
    position: fixed;
    top: 10rem;
    width: 100%;
    z-index: 10;
    background: radial-gradient(farthest-corner at 40px 40px,
            rgba(255, 255, 255, 1) 10%, var(--gradientColor2) 100%);
    left: 0;
    transform: translate3d(0,0%,0);
    transition: opacity 0.2s ease, transform 0.3s cubic-bezier(0.16, 1, 0.3, 1) ;
    transition-delay: 0s,  0s, 0s;
    transition-property: opacity, transform, z-index;
    padding: 1rem 3rem;

    &.hidden {
        //display: none;
        opacity: 0;
        z-index: -10;
        transform: translate3d(0,20%,0);
        transition-delay: 0s,  0s, 0.5s;
    }

    .goBack{
        font-size: 2rem;
        text-decoration: none;
        cursor: pointer;
        text-decoration: none;

    }

    h3.title {
        font-size : var(--h2-size);
        line-height: 1em;
        display: inline-block;
        margin: 0;
    }

}

.labTitleContainer{
    margin-left: 100px;
}
.labSubtitle {
    font-size: 1rem;
    margin-bottom: 4rem;
}
.whiteblur {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    top : 0;
    left: 0;
}
